<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="File" fileName="logs/server_log_${date:dd-MM-yyyy_HH-mm-ss}.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level Server - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{dd-MM-yyyy HH:mm:ss} | %C{2} - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name= "Run" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console" level="off"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>